
.main{
  background-color: #3bb077;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;

}
.popu_header{
  display:flex;
  justify-content: space-between;
}
.body1{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.left{
  padding-left: 150px;
}
.name{
  padding-left: 10px;
}
.space{
  margin-bottom: 30px;
}
  
.button1{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;


  }
  .Accept1{
    margin-left: 10px;
  }
  .Cancel1{
    margin-right: 10px;
  }
  .button1 button{
    background: #3bb077;
    outline: none;
    border: none;
    color: #fff;
    padding: 8px 40px;
    border-radius: 20px;
    font-size: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    
  }
.container0 {
    background-color: white;
    padding: 40px;
    padding-top: 0;
    width: 700px;
}
.close{
  cursor: pointer;
  /* background-color: white;
  height: 30px;
  width: 50px;
  border-color: #3bb077;
  text-size-adjust: 80px;
  margin-top: 45px; */
  
}

